@model MovieAppWeb.Web.Areas.Admin.Controllers.DashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Film</h5>
                    <h2 class="card-text">@Model.TotalMovies</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Seans</h5>
                    <h2 class="card-text">@Model.TotalSessions</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Bilet</h5>
                    <h2 class="card-text">@Model.TotalTickets</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Kullanıcı</h5>
                    <h2 class="card-text">@Model.TotalUsers</h2>
                </div>
            </div>
        </div>
    </div>
</div> 